[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
black = {version = "==21.6b0", markers = "python_version == '3.9'"}
bump2version = {version = ">=0.5.3", markers = "python_version == '3.9'"}
pipenv = {version = ">=2018.11.26", markers = "python_version == '3.9'"}
pytest = ">=5.2.2"
pytest-cov = ">=2.8.1"

[packages]
pytz = ">=2019.3"
requests = ">=2.21.0"

[requires]
python_version = "3"
